### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# environment files
*.env

# virtualenv
.venv
venv/
ENV/

# pyenv
.python-version


### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt